@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* @ https://tailwindcss.jp/docs/functions-and-directives#layer */
@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  picture,
  source {
    @apply block;
  }

  a,
  button,
  input[type='button'],
  input[type='submit'],
  input[type='reset'],
  input[type='image'] {
    @apply no-underline transition duration-300 hover:opacity-80;
  }
  /* Change Autocomplete styles in Chrome */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s !important;
  }
}

@layer components {
  .inner {
    @apply w-full px-4 md:mx-auto md:px-[100px] md:max-w-screen-2xl 2xl:px-16;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
